In [1]:
import pandas as pd
import numpy as np
import sqlite3 as sq
import os
import re

# КЛИЕНТЫ ГЛК 2017

In [2]:
t = open('data_raw/Аналитика_1/КЛИЕНТЫ ГЛК 2017.txt', encoding='cp1251').read()
t = t.split('\n')
t = np.array(t)

In [3]:
arr = []
for i in t:
    arr.append(np.array(i.split(',')))

In [4]:
df = pd.DataFrame(arr[1:], columns=['Ид клиента', 'Фамилия', 'Имя', 'Отчество', 'Дата рождения', 'Пол','F1', 'F2'])

In [6]:
clients_glk = df[df.F1.isnull()].drop(['F1','F2'], axis=1)

In [7]:
with sq.connect('isd_base.db') as conn:
    clients_glk.to_sql(name='clients_glk',con=conn,schema='glk', index=False, if_exists='replace')

/Users/yuriysimonov/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:2127: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  dtype=dtype)

# ЧЕКИ ГЛК 2017

In [28]:
t = open('data_raw/Аналитика_1/ЧЕКИ ГЛК 2017.txt', encoding='cp1251').read()
t = t.split('\n')
t = np.array(t)

In [29]:
arr = []
for i in t:
    arr.append(np.array(i.split(',')))

In [34]:
arr[0]

array(['Ид чека', 'Тип платежа', 'Дата операции', 'Касса', 'Кассир'],
      dtype='<U13')

In [44]:
df = pd.DataFrame(arr[1:], columns=['Ид чека', 'Тип платежа', 'Дата операции', 'Касса', 'Кассир','F1'])

In [45]:
check_glk = df.drop('F1', axis=1)

In [46]:
df.shape

(775140, 6)

In [48]:
with sq.connect('isd_base.db') as conn:
    check_glk.to_sql(name='check_glk',con=conn,schema='glk', index=False, if_exists='replace')

/Users/yuriysimonov/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:2127: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  dtype=dtype)

# ЧЕКИ АКВА 2017.txt

In [5]:
t = open('data_raw/ЧЕКИ АКВА 2017.txt', encoding='cp1251').read()
t = t.split('\n')
t = np.array(t)

In [6]:
arr = []
for i in t:
    arr.append(np.array(i.split(',')))

In [7]:
arr[0]

array(['Ид чека', 'Тип платежа', 'Дата операции', 'Касса', 'Кассир'],
      dtype='<U13')

In [8]:
df = pd.DataFrame(arr[1:], columns=['Ид чека', 'Тип платежа', 'Дата операции', 'Касса', 'Кассир'])

In [10]:
check_aqv = df

In [11]:
df.shape

(350871, 5)

In [12]:
with sq.connect('isd_base.db') as conn:
    check_glk.to_sql(name='check_aqv',con=conn,schema='aqv', index=False, if_exists='replace')

/Users/yuriysimonov/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:2130: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  dtype=dtype)

# ОРДЕР ГЛК 2017

In [60]:
t = open('data_raw/ОРДЕР ГЛК 2017.txt', encoding='cp1251').read()
t = t.split('\n')
t = np.array(t)

In [61]:
arr = []
for i in t:
    arr.append(np.array(i.split(',')))

In [62]:
arr[0]

array(['Ид ордера', 'Ид строки чека', 'Ид клиента', 'Дата начала',
       'Дата окончания', 'Номер носителя'], dtype='<U14')

In [65]:
order_glk = pd.DataFrame(arr[1:], columns=arr[0])

In [66]:
with sq.connect('isd_base.db') as conn:
    order_glk.to_sql(name='order_glk',con=conn,schema='glk', index=False, if_exists='replace')

/Users/yuriysimonov/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:2127: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  dtype=dtype)

# КЛИЕНТЫ АКВА 2017

In [20]:
t = open('data_raw/Analytika_2/КЛИЕНТЫ АКВА 2017.txt', encoding='cp1251').read()
t = t.split('\n')
t = np.array(t)

In [21]:
arr = []
for i in t:
    arr.append(np.array(i.split(',')))

In [22]:
arr[0]

array(['Ид клиента', 'Фамилия', 'Имя', 'Отчество', 'Дата рождения', 'Пол'],
      dtype='<U13')

In [23]:
df = pd.DataFrame(arr[1:], columns=['Ид клиента', 'Фамилия', 'Имя', 'Отчество', 'Дата рождения', 'Пол','F1'])

In [24]:
df=df[df['F1'].isnull()]

In [26]:
clients_aqv = df

In [27]:
with sq.connect('isd_base.db') as conn:
    clients_aqv.to_sql(name='clients_aqv',con=conn,schema='aqv', index=False, if_exists='replace')

/Users/yuriysimonov/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:2127: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  dtype=dtype)

# ОРДЕР АКВА 2017

In [49]:
t = open('data_raw/Analytika_2/ОРДЕР АКВА 2017.txt', encoding='cp1251').read()
t = t.split('\n')
t = np.array(t)

In [50]:
arr = []
for i in t:
    arr.append(np.array(i.split(',')))

In [51]:
arr[0]

array(['Ид ордера', 'Ид строкм чека', 'Ид клиента', 'Дата начала',
       'Дата окончания', 'Номер носителя'], dtype='<U14')

In [54]:
df = pd.DataFrame(arr[1:], columns=arr[0])

In [56]:
order_aqv = df

In [58]:
with sq.connect('isd_base.db') as conn:
    order_aqv.to_sql(name='order_aqv',con=conn,schema='aqv', index=False, if_exists='replace')

/Users/yuriysimonov/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:2127: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  dtype=dtype)

# СТРОКИ ЧЕКА АКВА

In [68]:
t = open('data_raw/СТРОКИ ЧЕКА АКВА 2017.txt', encoding='cp1251').read()
t = t.split('\n')
t = np.array(t)

In [69]:
arr = []
for i in t:
    arr.append(np.array(i.split(',')))
arr[0]

array(['Ид строки чека', 'Ид чека', 'Сумма', 'Услуга'], dtype='<U14')

In [75]:
df = pd.DataFrame(arr[1:])

In [98]:
df[3] = df[[3,4,5]].apply(lambda x:','.join(x.dropna()), axis=1)

In [106]:
df = df[[0,1,2,3]]
df.columns = arr[0]

In [109]:
bill_row_aqv = df

In [110]:
with sq.connect('isd_base.db') as conn:
    bill_row_aqv.to_sql(name='bill_row_aqv',con=conn,schema='aqv', index=False, if_exists='replace')

/Users/yuriysimonov/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:2127: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  dtype=dtype)

# СТРОКИ ЧЕКА ГЛК 2017.txt

In [111]:
t = open('data_raw/СТРОКИ ЧЕКА ГЛК 2017.txt', encoding='cp1251').read()
t = t.split('\n')
t = np.array(t)

In [112]:
arr = []
for i in t:
    arr.append(np.array(i.split(',')))
arr[0]

array(['Ид строки чека', 'Ид чека', 'Сумма', 'Услуга'], dtype='<U14')

In [113]:
df = pd.DataFrame(arr[1:])

In [117]:
df[3] = df[[3,4]].apply(lambda x:','.join(x.dropna()), axis=1)

In [118]:
df = df[[0,1,2,3]]
df.columns = arr[0]

In [119]:
bill_row_glk = df

In [120]:
with sq.connect('isd_base.db') as conn:
    bill_row_glk.to_sql(name='bill_row_glk',con=conn,schema='glk', index=False, if_exists='replace')

/Users/yuriysimonov/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:2127: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  dtype=dtype)

# ТРАНЗАКЦИИ АКВА 2017.txt

In [24]:
files = os.listdir('./data_raw')

In [52]:
files_aqv = [i for i in files if re.search("ТРАНЗАКЦИИ.*АКВА.*\.txt",i)]

In [82]:
for fl in files_aqv:
    t = open('data_raw/'+fl, encoding='cp1251').read()
    t = t.split('\n')
    t = np.array(t)
    arr = []
    for i in t:
        arr.append(np.array(i.split(',')))
    print(arr[0])
    df = pd.DataFrame(arr[1:])
    print(df.shape)
    df = df.iloc[:,:11]
    df.columns = arr[0]
    df['month'] = fl.split()[0][10:]
    with sq.connect('isd_base.db') as conn:
        transaction_aqv.to_sql(name='transaction_aqv',con=conn,schema='aqv', index=False, if_exists='append')

['Идентификатор' 'Номер носителя' 'Дата' 'Ид ордера' 'Устройство'
 'Событие' 'Дополнение 1 к событию' 'Дополнение 2 к событию'
 'Дополнение 3 к событию' 'Дополнение 4 к событию'
 'Дополнение 5 к событию']
(331354, 12)

/Users/yuriysimonov/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:2127: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  dtype=dtype)

['Идентификатор' 'Номер носителя' 'Дата' 'Ид ордера' 'Устройство'
 'Событие' 'Дополнение 1 к событию' 'Дополнение 2 к событию'
 'Дополнение 3 к событию' 'Дополнение 4 к событию'
 'Дополнение 5 к событию']
(418387, 12)
['Идентификатор' 'Номер носителя' 'Дата' 'Ид ордера' 'Устройство'
 'Событие' 'Дополнение 1 к событию' 'Дополнение 2 к событию'
 'Дополнение 3 к событию' 'Дополнение 4 к событию'
 'Дополнение 5 к событию']
(392398, 12)
['Идентификатор' 'Номер носителя' 'Дата' 'Ид ордера' 'Устройство'
 'Событие' 'Дополнение 1 к событию' 'Дополнение 2 к событию'
 'Дополнение 3 к событию' 'Дополнение 4 к событию'
 'Дополнение 5 к событию']
(387659, 12)
['Идентификатор' 'Номер носителя' 'Дата' 'Ид ордера' 'Устройство'
 'Событие' 'Дополнение 1 к событию' 'Дополнение 2 к событию'
 'Дополнение 3 к событию' 'Дополнение 4 к событию'
 'Дополнение 5 к событию']
(589824, 12)
['Идентификатор' 'Номер носителя' 'Дата' 'Ид ордера' 'Устройство'
 'Событие' 'Дополнение 1 к событию' 'Дополнение 2 к событию'
 'Дополнение 3 к событию' 'Дополнение 4 к событию'
 'Дополнение 5 к событию']
(402442, 12)
['Идентификатор' 'Номер носителя' 'Дата' 'Ид ордера' 'Устройство'
 'Событие' 'Дополнение 1 к событию' 'Дополнение 2 к событию'
 'Дополнение 3 к событию' 'Дополнение 4 к событию'
 'Дополнение 5 к событию']
(331330, 12)
['Идентификатор' 'Номер носителя' 'Дата' 'Ид ордера' 'Устройство'
 'Событие' 'Дополнение 1 к событию' 'Дополнение 2 к событию'
 'Дополнение 3 к событию' 'Дополнение 4 к событию'
 'Дополнение 5 к событию']
(322864, 12)
['Идентификатор' 'Номер носителя' 'Дата' 'Ид ордера' 'Устройство'
 'Событие' 'Дополнение 1 к событию' 'Дополнение 2 к событию'
 'Дополнение 3 к событию' 'Дополнение 4 к событию'
 'Дополнение 5 к событию']
(137339, 12)
['Идентификатор' 'Номер носителя' 'Дата' 'Ид ордера' 'Устройство'
 'Событие' 'Дополнение 1 к событию' 'Дополнение 2 к событию'
 'Дополнение 3 к событию' 'Дополнение 4 к событию'
 'Дополнение 5 к событию']
(369155, 12)
['Идентификатор' 'Номер носителя' 'Дата' 'Ид ордера' 'Устройство'
 'Событие' 'Дополнение 1 к событию' 'Дополнение 2 к событию'
 'Дополнение 3 к событию' 'Дополнение 4 к событию'
 'Дополнение 5 к событию']
(542601, 12)
['Идентификатор' 'Номер носителя' 'Дата' 'Ид ордера' 'Устройство'
 'Событие' 'Дополнение 1 к событию' 'Дополнение 2 к событию'
 'Дополнение 3 к событию' 'Дополнение 4 к событию'
 'Дополнение 5 к событию']
(350077, 12)

In [79]:
#with sq.connect('isd_base.db') as conn:
#    cur = conn.cursor()
#    cur.execute('drop table transaction_aqv')
#    conn.commit()

# ТРАНЗАКЦИИ1 ГЛК 2017.txt

In [91]:
files_glk = [i for i in files if re.search("ТРАНЗАКЦИИ.*ГЛК.*\.txt",i)]

In [92]:
for fl in files_glk:
    t = open('data_raw/'+fl, encoding='cp1251').read()
    t = t.split('\n')
    t = np.array(t)
    arr = []
    for i in t:
        arr.append(np.array(i.split(',')))
    print(arr[0])
    df = pd.DataFrame(arr[1:])
    print(df.shape)
    df = df.iloc[:,:11]
    df.columns = arr[0]
    df['month'] = fl.split()[0][10:]
    with sq.connect('isd_base.db') as conn:
        transaction_aqv.to_sql(name='transaction_glk',con=conn,schema='glk', index=False, if_exists='append')

['Идентификатор' 'Номер носителя' 'Дата' 'Ид ордера' 'Устройство'
 'Событие' 'Дополнение 1 к событию' 'Дополнение 2 к событию'
 'Дополнение 3 к событию' 'Дополнение 4 к событию'
 'Дополнение 5 к событию']
(1904624, 11)

/Users/yuriysimonov/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:2127: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  dtype=dtype)

['Идентификатор' 'Номер носителя' 'Дата' 'Ид ордера' 'Устройство'
 'Событие' 'Дополнение 1 к событию' 'Дополнение 2 к событию'
 'Дополнение 3 к событию' 'Дополнение 4 к событию'
 'Дополнение 5 к событию']
(391617, 11)
['Идентификатор' 'Номер носителя' 'Дата' 'Ид ордера' 'Устройство'
 'Событие' 'Дополнение 1 к событию' 'Дополнение 2 к событию'
 'Дополнение 3 к событию' 'Дополнение 4 к событию'
 'Дополнение 5 к событию']
(579381, 11)
['Идентификатор' 'Номер носителя' 'Дата' 'Ид ордера' 'Устройство'
 'Событие' 'Дополнение 1 к событию' 'Дополнение 2 к событию'
 'Дополнение 3 к событию' 'Дополнение 4 к событию'
 'Дополнение 5 к событию']
(1367458, 11)
['Идентификатор' 'Номер носителя' 'Дата' 'Ид ордера' 'Устройство'
 'Событие' 'Дополнение 1 к событию' 'Дополнение 2 к событию'
 'Дополнение 3 к событию' 'Дополнение 4 к событию'
 'Дополнение 5 к событию']
(205259, 11)
['Идентификатор' 'Номер носителя' 'Дата' 'Ид ордера' 'Устройство'
 'Событие' 'Дополнение 1 к событию' 'Дополнение 2 к событию'
 'Дополнение 3 к событию' 'Дополнение 4 к событию'
 'Дополнение 5 к событию']
(954830, 11)
['Идентификатор' 'Номер носителя' 'Дата' 'Ид ордера' 'Устройство'
 'Событие' 'Дополнение 1 к событию' 'Дополнение 2 к событию'
 'Дополнение 3 к событию' 'Дополнение 4 к событию'
 'Дополнение 5 к событию']
(454061, 11)
['Идентификатор' 'Номер носителя' 'Дата' 'Ид ордера' 'Устройство'
 'Событие' 'Дополнение 1 к событию' 'Дополнение 2 к событию'
 'Дополнение 3 к событию' 'Дополнение 4 к событию'
 'Дополнение 5 к событию']
(1490123, 11)
['Идентификатор' 'Номер носителя' 'Дата' 'Ид ордера' 'Устройство'
 'Событие' 'Дополнение 1 к событию' 'Дополнение 2 к событию'
 'Дополнение 3 к событию' 'Дополнение 4 к событию'
 'Дополнение 5 к событию']
(962334, 12)
['Идентификатор' 'Номер носителя' 'Дата' 'Ид ордера' 'Устройство'
 'Событие' 'Дополнение 1 к событию' 'Дополнение 2 к событию'
 'Дополнение 3 к событию' 'Дополнение 4 к событию'
 'Дополнение 5 к событию']
(1534913, 11)
['Идентификатор' 'Номер носителя' 'Дата' 'Ид ордера' 'Устройство'
 'Событие' 'Дополнение 1 к событию' 'Дополнение 2 к событию'
 'Дополнение 3 к событию' 'Дополнение 4 к событию'
 'Дополнение 5 к событию']
(709775, 11)
['Идентификатор' 'Номер носителя' 'Дата' 'Ид ордера' 'Устройство'
 'Событие' 'Дополнение 1 к событию' 'Дополнение 2 к событию'
 'Дополнение 3 к событию' 'Дополнение 4 к событию'
 'Дополнение 5 к событию']
(1336121, 11)

In [93]:
with sq.connect('isd_base.db') as conn:
    print(pd.read_sql('select count(*) from transaction_glk',conn))

   count(*)
0   5439031

In [ ]:
['transaction_glk','transaction_aqv', 'clients_glk', 'clients_aqv','check_glk','check_aqv',
 'order_aqv','order_glk','bill_row_aqv','bill_row_glk',]

In [85]:
nn = 'bill_row_glk'
sc = nn[-3:]

In [86]:
with sq.connect('isd_base.db') as conn:
    df = pd.read_sql('select * from {0}'.format(nn),conn)

In [87]:
df.columns

Index(['Ид строки чека', 'Ид чека', 'Сумма', 'Услуга'], dtype='object')

In [88]:
bill_row_glk_col = [df.columns, ['BILL_ROW_ID', 'CHECK_ID', 'SUM', 'SERVICE']]

In [89]:
df.columns = bill_row_glk_col[1]

In [90]:
df.columns

Index(['BILL_ROW_ID', 'CHECK_ID', 'SUM', 'SERVICE'], dtype='object')

In [91]:
with sq.connect('isd_base.db') as conn:
    df.to_sql(name=nn,con=conn,schema=sc, index=False, if_exists='replace')

In [92]:
columns_df = {'bill_row_aqv_col':bill_row_aqv_col,
           'bill_row_glk_col':bill_row_glk_col,
           'order_glk_col':order_glk_col,
           'order_aqv_col':order_aqv_col,
           'check_aqv_col':check_aqv_col,
           'check_glk_col':check_glk_col,
           'clients_aqv_col':clients_aqv_col,
           'clients_glk_col':clients_glk_col,
           'transaction_aqv_col':transaction_aqv_col,
           'transaction_glk_col':transaction_glk_col
          }

In [93]:
import pickle

In [95]:
pickle.dump(columns_df,open('columns_df.pcl','wb'))

In [ ]:
columns_df

In [ ]:
# bill_row_aqv_col = [df.columns, ['BILL_ROW_ID', 'CHECK_ID', 'SUM', 'SERVICE']]

In [ ]:
# bill_row_glk_col = [df.columns, ['BILL_ROW_ID', 'CHECK_ID', 'SUM', 'SERVICE']]

In [ ]:
# order_glk_col = [df.columns, ['ORDER_ID', 'BILL_ROW_ID', 'CLIENT_ID', 'START_DATE', 'END_DATE', 'CARD_NUMBER']]

In [ ]:
# order_aqv_col = [df.columns, ['ORDER_ID', 'BILL_ROW_ID', 'CLIENT_ID', 'START_DATE', 'END_DATE', 'CARD_NUMBER']]

In [ ]:
# check_aqv_col = [df.columns, ['CHECK_ID', 'PAYMENT_TYPE', 'CHECK_DATE', 'CASH_BOX','CASHIER']]

In [ ]:
# check_glk_col = [df.columns, ['CHECK_ID', 'PAYMENT_TYPE', 'CHECK_DATE', 'CASH_BOX','CASHIER']]

In [ ]:
# clients_aqv_col = [df.columns, ['CLIENT_ID', 'LAST_NAME', 'FIRST_NAME', 'MIDDLE_NAME', 'BIRTH_DATE', 'SEX']]

In [ ]:
# clients_glk_col = [df.columns, ['CLIENT_ID', 'LAST_NAME', 'FIRST_NAME', 'MIDDLE_NAME', 'BIRTH_DATE', 'SEX']]

In [26]:
# transaction_aqv_col = [df.columns, ['TRANSACTION_ID', 'CARD_NUMBER', 'DATE', 'ORDER_ID', 'DEVICE', 'EVENT',
#                                    'ADDITION_1', 'ADDITION_2', 'ADDITION_3', 'ADDITION_4', 'ADDITION_5']]

In [15]:
# transaction_glk_col = [df.columns, ['TRANSACTION_ID', 'CARD_NUMBER', 'DATE', 'ORDER_ID', 'DEVICE', 'EVENT',
#                                    'ADDITION_1', 'ADDITION_2', 'ADDITION_3', 'ADDITION_4', 'ADDITION_5']]