In [1]:
import pickle
import pandas as pd
import numpy as np

import plotly.graph_objs as go

In [2]:
finance = pd.read_pickle('finance.pcl')

In [6]:
finance.head()

           CHECK_DATE   SUM ORDER_ID  CHECK_ID   D        M   H  D_N  M_N
0 2017-01-01 11:02:52  1950  2396821  11495508  вс  January  11    6    0
1 2017-01-01 11:02:52  1950  2396822  11495508  вс  January  11    6    0
2 2017-01-01 11:03:15  1950  2396818  11495502  вс  January  11    6    0
3 2017-01-01 11:03:15  1950  2396819  11495502  вс  January  11    6    0
4 2017-01-01 11:03:15     0  2396820  11495502  вс  January  11    6    0

In [4]:
social = pd.read_pickle('social.pcl')

In [7]:
social.head()

,ORDER_ID,START_DATE,END_DATE,SEX,SUM,BIRTH_DATE,CHECK_DATE,D_N,M,H,D,M_N,AGE,SESSION_TERM,AGE_GROUP
0,2396818,2017-01-01 11:00:16,2017-01-01 23:59:58,Не указан,1950.0,None,2017-01-01 11:03:15,6.0,January,11.0,вс,0.0,NaN,12.995000,Не указан
1,2396819,2017-01-01 11:00:16,2017-01-01 23:59:58,Не указан,1950.0,None,2017-01-01 11:03:15,6.0,January,11.0,вс,0.0,NaN,12.995000,Не указан
2,2396826,2017-01-01 11:07:29,2017-01-01 23:59:58,Не указан,1950.0,None,2017-01-01 11:08:21,6.0,January,11.0,вс,0.0,NaN,12.874722,Не указан
3,2396833,2017-01-01 11:19:24,2017-01-01 23:59:58,Не указан,1950.0,None,2017-01-01 11:21:27,6.0,January,11.0,вс,0.0,NaN,12.676111,Не указан
4,2396835,2017-01-01 11:28:14,2017-01-01 23:59:58,Не указан,1950.0,None,2017-01-01 11:29:27,6.0,January,11.0,вс,0.0,NaN,12.528889,Не указан

In [10]:
finance = pd.read_pickle('finance.pcl') # DF for finance

xs = np.array([['D', 'Агрегация по дням недели'], ['M','Агрегация по месяцам'], ['H','Агрегация по времени суток']])
ys = np.array([['ORDER_ID','Количество ордеров (шт)'], ['SUM','Сумма чеков (руб)']])

soc_xs = np.array([['AGE','Возраст'],['SEX','Пол']])

x_axis_dict = {'D':['пн','вт','ср','чт','пт','сб','вс'],
               'M':['January', 'February', 'March', 'April', 'May', 'June', 'July',
                    'August', 'September', 'October', 'November', 'December'],
               'H':range(0,24)}
D_dict = {0:'пн',1:'вт',2:'ср',3:'чт',4:'пт',5:'сб',6:'вс'}
M_dict = {0:'January', 1:'February', 2:'March', 3:'April', 4:'May', 5:'June', 6:'July',
          7:'August', 8:'September', 9:'October', 10:'November', 11:'December'}

In [18]:
week_day_lim = [0,6]
month_lim = range(12)
xaxis_column_name = 'D'
yaxis_column_name = 'ORDER_ID'

In [19]:
# словарь с правилом для агрегации
agg_dict = {'ORDER_ID': 'count', 'SUM': 'sum'}
axis_name_dict = {'ORDER_ID': 'Количество орддеров',
                  'SUM': 'Сумма чеков',
                  'D': 'День недели', 'H': 'Время (часы)', 'M': 'Месяц'}  # СЛоварь для подписей к осям

df = finance[(finance.D_N >= week_day_lim[0]) & (finance.D_N <= week_day_lim[1]) &
             (finance.M_N >= month_lim[0]) & (finance.M_N <= month_lim[1])][
    [xaxis_column_name, yaxis_column_name]].fillna(0).groupby(
    xaxis_column_name).agg(agg_dict[yaxis_column_name])

In [20]:
df

    ORDER_ID
D
вс     11924
вт     10550
пн     10127
пт     10670
сб     12505
ср     13334
чт      9414

In [21]:
agg_dict = {'ORDER_ID':'count', 'SUM':'sum'} #словарь с правилом для агрегации
axis_name_dict = {'ORDER_ID':'Количество орддеров','SUM':'Сумма чеков',
                      'D':'День недели','H':'Время (часы)','M':'Месяц'} # СЛоварь для подписей к осям
social = pd.read_pickle('social.pcl')
df = social[(social.D_N>=week_day_lim[0])&(social.D_N<=week_day_lim[1])&
                 (social.M_N>=month_lim[0])&(social.M_N<=month_lim[1])]
sex_list = ['Не указан', 'М','Ж']

In [22]:
df

,ORDER_ID,START_DATE,END_DATE,SEX,SUM,BIRTH_DATE,CHECK_DATE,D_N,M,H,D,M_N,AGE,SESSION_TERM,AGE_GROUP
0,2396818,2017-01-01 11:00:16,2017-01-01 23:59:58,Не указан,1950.0,None,2017-01-01 11:03:15,6.0,January,11.0,вс,0.0,NaN,12.995000,Не указан
1,2396819,2017-01-01 11:00:16,2017-01-01 23:59:58,Не указан,1950.0,None,2017-01-01 11:03:15,6.0,January,11.0,вс,0.0,NaN,12.995000,Не указан
2,2396826,2017-01-01 11:07:29,2017-01-01 23:59:58,Не указан,1950.0,None,2017-01-01 11:08:21,6.0,January,11.0,вс,0.0,NaN,12.874722,Не указан
3,2396833,2017-01-01 11:19:24,2017-01-01 23:59:58,Не указан,1950.0,None,2017-01-01 11:21:27,6.0,January,11.0,вс,0.0,NaN,12.676111,Не указан
4,2396835,2017-01-01 11:28:14,2017-01-01 23:59:58,Не указан,1950.0,None,2017-01-01 11:29:27,6.0,January,11.0,вс,0.0,NaN,12.528889,Не указан
5,2396836,2017-01-01 11:28:32,2017-01-01 23:59:58,Не указан,1899.0,None,2017-01-01 11:29:57,6.0,January,11.0,вс,0.0,NaN,12.523889,Не указан
6,2396845,2017-01-01 11:30:43,2017-01-01 23:59:58,Не указан,1690.0,None,2017-01-01 11:31:37,6.0,January,11.0,вс,0.0,NaN,12.487500,Не указан
7,2396847,2017-01-01 11:32:01,2017-01-01 23:59:58,Не указан,2330.0,None,2017-01-01 11:33:57,6.0,January,11.0,вс,0.0,NaN,12.465833,Не указан
8,2396849,2017-01-01 11:32:04,2017-01-01 23:59:58,Не указан,1950.0,None,2017-01-01 11:33:56,6.0,January,11.0,вс,0.0,NaN,12.465000,Не указан
9,2396858,2017-01-01 11:35:39,2017-01-01 23:59:58,Не указан,1899.0,None,2017-01-01 11:36:26,6.0,January,11.0,вс,0.0,NaN,12.405278,Не указан
10,2396864,2017-01-01 11:39:08,2017-01-01 23:59:58,Не указан,1950.0,None,2017-01-01 11:40:17,6.0,January,11.0,вс,0.0,NaN,12.347222,Не указан
11,2396868,2017-01-01 11:40:36,2017-01-01 23:59:58,Не указан,1670.0,None,2017-01-01 11:41:17,6.0,January,11.0,вс,0.0,NaN,12.322778,Не указан
12,2396870,2017-01-01 11:41:00,2017-01-01 23:59:58,Не указан,1950.0,None,2017-01-01 11:42:18,6.0,January,11.0,вс,0.0,NaN,12.316111,Не указан
13,2396879,2017-01-01 11:45:22,2017-01-01 23:59:58,Не указан,1700.0,None,2017-01-01 11:46:36,6.0,January,11.0,вс,0.0,NaN,12.243333,Не указан
14,2396880,2017-01-01 11:45:22,2017-01-01 23:59:58,Не указан,1700.0,None,2017-01-01 11:46:36,6.0,January,11.0,вс,0.0,NaN,12.243333,Не указан
15,2396883,2017-01-01 11:47:49,2017-01-01 23:59:58,Не указан,1950.0,None,2017-01-01 11:49:27,6.0,January,11.0,вс,0.0,NaN,12.202500,Не указан
16,2396884,2017-01-01 11:47:49,2017-01-01 23:59:58,Не указан,1950.0,None,2017-01-01 11:49:27,6.0,January,11.0,вс,0.0,NaN,12.202500,Не указан
17,2396886,2017-01-01 11:52:14,2017-01-01 23:59:58,Не указан,1950.0,None,2017-01-01 11:53:05,6.0,January,11.0,вс,0.0,NaN,12.128889,Не указан
18,2396887,2017-01-01 11:52:20,2017-02-01 01:07:20,Не указан,0.0,None,2017-01-01 11:53:05,6.0,January,11.0,вс,0.0,NaN,13.250000,Не указан
19,2396888,2017-01-01 11:52:21,2017-02-01 01:07:21,Не указан,0.0,None,2017-01-01 11:53:05,6.0,January,11.0,вс,0.0,NaN,13.250000,Не указан
20,2396897,2017-01-01 12:00:34,2017-01-01 23:59:58,Не указан,2198.0,None,2017-01-01 12:01:10,6.0,January,12.0,вс,0.0,NaN,11.990000,Не указан
21,2396899,2017-01-01 12:00:47,2017-01-01 23:59:58,Не указан,1598.0,None,2017-01-01 12:01:10,6.0,January,12.0,вс,0.0,NaN,11.986389,Не указан
22,2396905,2017-01-01 10:00:00,2017-01-01 22:00:00,Не указан,0.0,None,2017-01-01 12:06:20,6.0,January,12.0,вс,0.0,NaN,12.000000,Не указан
23,2396908,2017-01-01 12:08:46,2017-01-01 23:59:58,Не указан,1950.0,None,2017-01-01 12:09:29,6.0,January,12.0,вс,0.0,NaN,11.853333,Не указан
24,2396910,2017-01-01 12:09:44,2017-01-01 23:59:58,Ж,1728.0,18.05.1982,2017-01-01 12:11:41,6.0,January,12.0,вс,0.0,36.24,11.837222,35-50
25,2396913,2017-01-01 12:09:44,2017-01-01 23:59:58,Ж,1950.0,18.05.1982,2017-01-01 12:11:41,6.0,January,12.0,вс,0.0,36.24,11.837222,35-50
26,2396914,2017-01-01 12:09:44,2017-01-01 23:59:58,Ж,1950.0,18.05.1982,2017-01-01 12:11:41,6.0,January,12.0,вс,0.0,36.24,11.837222,35-50
27,2396918,2017-01-01 12:11:31,2017-01-01 23:59:58,Не указан,1950.0,None,2017-01-01 12:12:56,6.0,January,12.0,вс,0.0,NaN,11.807500,Не указан
28,2396919,2017-01-01 12:11:31,2017-01-01 23:59:58,Не указан,1950.0,None,2017-01-01 12:12:56,6.0,January,12.0,вс,0.0,NaN,11.807500,Не указан
29,2396920,2017-01-01 12:11:33,2017-01-01 23:59:58,Не указан,1390.0,None,2017-01-01 12:12:56,6.0,January,12.0,вс,0.0,NaN,11.806944,Не указан
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
462116,2909325,2017-02-12 12:43:06,2017-03-12 01:58:06,Не указан,0.0,None,2017-02-12 12:43:17,6.0,February,12.0,вс,1.0,NaN,13.250000,Не указан
462120,2909242,2017-02-12 12:18:03,2017-03-12 01:33:03,Не указан,0.0,None,2017-02-12 12:18:13,6.0,February,12.0,вс,1.0,NaN,13.250000,Не указан
462160,2907797,2017-01-12 10:21:41,2017-01-12 23:59:58,Не указан,0.0,None,2017-01-12 10:35:37,3.0,January,10.0,чт,0.0,NaN,13.638056,Не указан
462167,2863292,2017-03-11 14:30:11,2017-04-11 23:59:58,Не указан,0.0,None,2017-02-11 14:51:36,5.0,February,14.0,сб,1.0,NaN,9.496389,Не указан
462202,2862871,2017-03-11 13:30:15,2017-04-11 23:59:58,Не указан,0.0,None,2017-02-11 14:04:55,5.0,February,14.0,сб,1.0,NaN,10.495278,Не указан
462273,2863740,2017-02-11 17:26:11,2017-03-11 06:41:11,Не указан,0.0,None,2017-02-11 17:26:32,5.0,February,17.0,сб,1.0,NaN,13.250000,Не указан
462279,2862245,2017-02-11 10:48:08,2017-02-11 23:59:58,Не указан,799.0,None,2017-02-11 10:50:04,5.0,February,10.0,сб,1.0,NaN,13.197222,Не указан
462299,2862271,2017-02-11 10:59:03,2017-02-11 23:59:58,Не указан,1500.0,None,2017-02-11 11:02:29,5.0,February,11.0,сб,1.0,NaN,13.015278,Не указан
462311,2907890,2017-01-12 10:51:35,2017-01-12 23:59:58,Не указан,1150.0,None,2017-01-12 10:53:00,3.0,January,10.0,чт,0.0,NaN,13.139722,Не указан
462337,2863798,2017-02-11 18:05:00,2017-02-11 23:59:58,Ж,0.0,16.02.1982,2017-02-11 18:06:13,5.0,February,18.0,сб,1.0,36.49,5.916111,35-50
462338,2863818,2017-02-11 18:11:03,2017-02-11 23:59:58,Не указан,799.0,None,2017-02-11 18:12:41,5.0,February,18.0,сб,1.0,NaN,5.815278,Не указан
462340,2864010,2017-02-11 19:35:00,2017-02-11 23:59:58,Ж,0.0,03.09.1978,2017-02-11 19:35:17,5.0,February,19.0,сб,1.0,39.95,4.416111,35-50
462341,2863852,2017-02-11 18:16:02,2017-02-11 23:59:58,Не указан,1100.0,None,2017-02-11 18:16:51,5.0,February,18.0,сб,1.0,NaN,5.732222,Не указан
462364,2863569,2017-02-11 16:14:51,2017-02-11 23:59:58,Не указан,799.0,None,2017-02-11 16:17:14,5.0,February,16.0,сб,1.0,NaN,7.751944,Не указан
462383,2862909,2017-03-11 13:30:15,2017-04-11 23:59:58,Не указан,0.0,None,2017-02-11 14:04:55,5.0,February,14.0,сб,1.0,NaN,10.495278,Не указан
462384,2863081,2017-03-11 14:17:36,2017-04-11 23:59:58,Не указан,0.0,None,2017-02-11 14:29:40,5.0,February,14.0,сб,1.0,NaN,9.706111,Не указан
462387,2863258,2017-03-11 14:30:11,2017-04-11 23:59:58,Не указан,0.0,None,2017-02-11 14:51:36,5.0,February,14.0,сб,1.0,NaN,9.496389,Не указан
462456,2908095,2017-01-12 14:01:17,NaT,М,0.0,28.04.1964,2017-01-12 14:01:32,3.0,January,14.0,чт,0.0,54.31,NaN,50-
462495,2908675,2017-01-12 20:50:18,NaT,Ж,0.0,20.06.1976,2017-01-12 20:50:26,3.0,January,20.0,чт,0.0,42.15,NaN,35-50
462529,2863588,2017-02-11 16:21:54,2017-02-11 23:59:58,Не указан,650.0,None,2017-02-11 16:23:35,5.0,February,16.0,сб,1.0,NaN,7.634444,Не указан
462531,2863763,2017-02-11 17:40:35,2017-02-11 23:59:58,Не указан,999.0,None,2017-02-11 17:41:59,5.0,February,17.0,сб,1.0,NaN,6.323056,Не указан
462543,2909152,2017-02-12 11:56:08,2017-02-12 23:59:58,Не указан,0.0,None,2017-02-12 11:56:25,6.0,February,11.0,вс,1.0,NaN,12.063889,Не указан
462572,2907651,2017-01-12 09:11:50,NaT,Ж,0.0,20.11.1953,2017-01-12 09:11:56,3.0,January,9.0,чт,0.0,64.75,NaN,50-
462599,2909517,2017-02-12 14:03:45,2017-03-12 03:18:45,Не указан,0.0,None,2017-02-12 14:03:55,6.0,February,14.0,вс,1.0,NaN,13.250000,Не указан
462600,2907608,2017-01-12 08:39:17,2017-01-12 23:59:58,Не указан,0.0,None,2017-01-12 08:41:36,3.0,January,8.0,чт,0.0,NaN,15.344722,Не указан
462607,2909298,2017-02-12 12:35:52,2017-02-12 23:59:58,Не указан,1500.0,None,2017-02-12 12:38:43,6.0,February,12.0,вс,1.0,NaN,11.401667,Не указан
462626,2908904,2017-02-12 10:23:29,NaT,М,0.0,20.06.1955,2017-02-12 10:23:40,6.0,February,10.0,вс,1.0,63.17,NaN,50-
462702,2909419,2017-02-12 13:29:08,2017-03-12 02:44:08,Не указан,0.0,None,2017-02-12 13:30:47,6.0,February,13.0,вс,1.0,NaN,13.250000,Не указан
462703,2907572,2017-01-12 07:22:35,NaT,М,0.0,18.08.1976,2017-01-12 07:22:45,3.0,January,7.0,чт,0.0,41.99,NaN,35-50
462720,2909283,2017-02-12 12:29:58,NaT,Ж,0.0,25.05.1984,2017-02-12 12:30:10,6.0,February,12.0,вс,1.0,34.22,NaN,21-35

In [29]:
df[(df.SEX==sex_list[0])&(social.AGE_GROUP == 'Не указан')]['ORDER_ID'].count()

/Users/yuriysimonov/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning:

Boolean Series key will be reindexed to match DataFrame index.

56626

In [27]:
{
            'data': [go.Bar(
                x=sex_list,
                y=[df[(df.SEX==i)&(social.AGE_GROUP == j)]['ORDER_ID'].count() for i in sex_list],
                name = j) for j in ['Не указан','0-4','4-14', '14-21','21-35', '35-50',  '50-']
                ],
            'layout': go.Layout(
                margin={'l': 100, 'b': 70, 't': 0, 'r': 15},
                hovermode='closest'
            )
        }

/Users/yuriysimonov/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: UserWarning:

Boolean Series key will be reindexed to match DataFrame index.

{'data': [Bar({
      'name': 'Не указан', 'x': ['Не указан', 'М', 'Ж'], 'y': [56626, 1411, 181]
  }), Bar({
      'name': '0-4', 'x': ['Не указан', 'М', 'Ж'], 'y': [0, 6, 14]
  }), Bar({
      'name': '4-14', 'x': ['Не указан', 'М', 'Ж'], 'y': [0, 1, 16]
  }), Bar({
      'name': '14-21', 'x': ['Не указан', 'М', 'Ж'], 'y': [0, 159, 128]
  }), Bar({
      'name': '21-35', 'x': ['Не указан', 'М', 'Ж'], 'y': [0, 3369, 2510]
  }), Bar({
      'name': '35-50', 'x': ['Не указан', 'М', 'Ж'], 'y': [0, 4049, 3503]
  }), Bar({
      'name': '50-', 'x': ['Не указан', 'М', 'Ж'], 'y': [0, 3294, 3257]
  })], 'layout': Layout({
     'hovermode': 'closest', 'margin': {'b': 70, 'l': 100, 'r': 15, 't': 0}
 })}

In [30]:
def update_graph_fin(xaxis_column_name, yaxis_column_name, week_day_lim, month_lim):
    agg_dict = {'ORDER_ID':'count', 'SUM':'sum'} #словарь с правилом для агрегации
    axis_name_dict = {'ORDER_ID':'Количество орддеров','SUM':'Сумма чеков',
                      'D':'День недели','H':'Время (часы)','M':'Месяц'} # СЛоварь для подписей к осям

    df = finance[(finance.D_N>=week_day_lim[0])&(finance.D_N<=week_day_lim[1])&
                 (finance.M_N>=month_lim[0])&(finance.M_N<=month_lim[1])][
                    [xaxis_column_name,yaxis_column_name]].fillna(0).groupby(
                        xaxis_column_name).agg(agg_dict[yaxis_column_name])
    return {
            'data': [go.Scatter(
                y=df.loc[x_axis_dict[xaxis_column_name]][yaxis_column_name],
                x=df.loc[x_axis_dict[xaxis_column_name]].index,
                text='blablabla',
                mode='lines+markers',
                marker={'size': 15, 'opacity': 0.5, 'line': {'width': 0.5, 'color': 'white'}}
                )],
            'layout': go.Layout(
                xaxis={
                    'title': axis_name_dict[xaxis_column_name],
                    #'type': 'linear' if xaxis_type == 'Linear' else 'log'
                },
                yaxis={
                    'title': axis_name_dict[yaxis_column_name],
                    #'type': 'linear' if yaxis_type == 'Linear' else 'log'
                },
                margin={'l': 100, 'b': 70, 't': 0, 'r': 15},
                #hovermode='closest'
            )
        }

In [36]:
soc_y = 'SUM'

In [48]:
y = [df[(df.SEX == i) & (df.AGE_GROUP == 'Не указан')][
    ['SUM']
].agg(agg_dict[soc_y]).values for i in sex_list]

In [51]:
y

[array([51502687.]), array([258658.]), array([10192.])]